@if((control?.errors && control?.touched) &&label !="rePassword" ) {
  <div class="error bg-red-100 border border-red-400 text-red-700 p-2 mt-2 rounded">
    <ul class="list-disc pl-5 space-y-1">
      @if(control?.getError('required') && label != "rePassword"){
        <li>{{label}} is required.</li>
      }
      @else if(control?.getError('pattern') && label == "phone") {
        <li>Phone must be a valid Egyptian number (e.g. 01012345678).</li>
      }

      @else if(control?.getError('minlength')  && label != "rePassword"){
        <li>{{label}} must be at least {{control?.getError('minlength').requiredLength}} characters long.</li>
      }
      @else if(control?.getError('maxlength') && label != "rePassword"){
        <li>{{label}} cannot exceed {{control?.getError('maxlength').requiredLength}} characters.</li>
      }
       @else if(control?.getError('email')){
            <li>Email must be valid.</li>
          }
  
    </ul>
  </div>
}
 @if(label == "rePassword" 
   && compare.get('password')?.value !== compare.get('rePassword')?.value 
   && compare.get('rePassword')?.touched) {
  <div class="error bg-red-100 border border-red-400 text-red-700 p-2 mt-2 rounded">
    <ul class="list-disc pl-5 space-y-1">
      <li>Doesnt match</li>
    </ul>
  </div>
}
