<section class="pt-5 ">
<form [formGroup]="LoginForm"  (ngSubmit)="getValues()" class="max-w-sm mx-auto mt-5 p-6 rounded-lg shadow-lg  loginform shadow-t-4 shadow-cyan-300 border-solid  border-slate-500 m-5  ">
<div class="head justify-center text-center mb-10">
  <div class="imgLogo">
</div>
<span class="text-lg bold block">Login to Admin Portal</span>
<span class="text-sm block text-secondary">Login to Manage Inventory & Sales</span>
</div>
  <div class="mb-5">
    <label for="email" class="block mb-2 text-sm font-medium ">Email</label>
    <input formControlName="email" type="email" id="email" class="bg-white border border-gray-300  text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" placeholder="Email" required />
   <app-errormsg [control]="LoginForm.get('email')" label="Email"></app-errormsg>
  </div>

  <div class="mb-5">
    <label for="password" class="block mb-2 text-sm font-medium ">Password</label>
    <input formControlName="password" type="password" id="password" class="bg-white border border-gray-300  text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5" required />
   <app-errormsg [control]="LoginForm.get('password')" label="Password"></app-errormsg>
  </div>
<div class="flex items-start mb-5">
    <div class="flex items-center h-5">
      <input type="checkbox" id="remember" formControlName="RememberME"
             class="w-4 h-4 border border-gray-300 rounded-sm bg-white focus:ring-2 focus:ring-green-400" />
    </div>
    <label for="remember" class="ms-2 text-sm font-medium ">Remember me</label>
  </div>


 <button [disabled]="LoginForm.invalid || sucess" type="submit" class="w-full px-5 py-2.5 text-sm text-center font-medium rounded-lg text-white bg-green-600 hover:bg-green-700 focus:ring-2 disabled:bg-gray-400 disabled:text-white disabled:opacity-70 disabled:cursor-not-allowed">
  Submit
</button>
</form>
</section>
