.imgLogo{
background-image: url("/assets/Image/logo.jpeg");
background-size: 80px 80px;
background-position: center;
background-repeat: no-repeat;
border-radius: 20px;
background-color: #ffffff;
border: 2px solid #4DD0E1;
width: 100px;
height: 100px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;

overflow:hidden;
justify-content: center;
align-items: center;

}
.loginform{
background-color: var(--background_color);

}
