button {
  background-color: transparent !important;
  box-shadow: none !important;
   transition: transform 0.5s ease, border-color 0.5s ease, background-color 0.5s ease;
}

button:focus, button:active, button:hover {
  background-color: transparent !important;
  box-shadow: none !important;
   transition: transform 0.5s ease, border-color 0.5s ease, background-color 0.5s ease;
}

.user-btn, .lg\:hidden {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #6b7280;
   transition: transform 0.5s ease, border-color 0.5s ease, background-color 0.5s ease;
}

.dark-theme .user-btn, .dark-theme .lg\:hidden {
  color: #d5d9e0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
   transition: transform 0.5s ease, border-color 0.5s ease, background-color 0.5s ease;
}


.draw {
  border-radius: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: transform 0.5s ease, border-color 0.5s ease, background-color 0.5s ease;
}
.draw.light {
  background-color: #E6F0FF;
  border-color: rgba(0, 0, 0, 0.05);
}
.draw.dark {
  background-color: #192633;
  border-color: rgba(255, 255, 255, 0.18);
}
